<header class="top-bar">
  <div class="container">
    <h1>Address Book</h1>
    <button id="new_contact">Add a Contact</button>
  </div>
</header>

<main>
  <ol class="contacts">
  </ol>

  <section class="contact-show">
    <h2 data-role="contact-header">Contact</h2>

    <section class="feedback" data-role="feedback"></section>

    <form id="contact_form">
      <input type="hidden" data-role="id">

      <label for="contact_name">Full Name</label>
      <input type="text" data-role="name" id="contact_name">
      <div class="error" data-role="name-error">Name is required</div>

      <label for="contact_email">Email Address</label>
      <input type="text" data-role="email" id="contact_email">
      <div class="error" data-role="email-error">A valid email address is required</div>

      <label for="contact_phone">Phone Number</label>
      <input type="text" data-role="phone" id="contact_phone">

      <label for="contact_notes">Notes</label>
      <textarea data-role="notes" id="contact_notes"></textarea>

      <button id="submit">Save Changes</button>
    </form>
  </section>
</main>
