<header class="top-bar">
  <div class="container">
    <h1>Address Book</h1>
    <button id="new_contact">Add a Contact</button>
  </div>
</header>

<main>
  <ol class="contacts">
  </ol>

  <section class="contact-show">
    <h2 data-role="contact-header">Contact</h2>
    <form id="contact_form">
      <input type="hidden" data-role="id">

      <label>Full Name</label>
      <input type="text" data-role="name">

      <label>Email Address</label>
      <input type="text" data-role="email">

      <label>Phone Number</label>
      <input type="text" data-role="phone">

      <label>Notes</label>
      <textarea data-role="notes"></textarea>

      <button id="submit">Save Changes</button>
    </form>
  </section>
</main>
